<div class="container">
  <h3 class="text-center">Form Receiver</h3>
    <div class="row">
        <div class="form-group col">

        <div class="form-group">
    <label for="exampleInput">Receiver Name</label>

    <input type="text" class="form-control" id="exampleInput" placeholder="Receiver Name" (input)="onChangeName($event)">

        </div>
        </div>
        <div class="col">
          <label for="exampleInput">Receiver Name</label><br />
          {{inputName | titlecase}}
        </div>


    </div>
    <div class="row">
      <div class="form-group col">

      <div class="form-group">
  <label for="exampleInput">Receiver Name</label>

  <input type="date" class="form-control" id="exampleInput" placeholder="Receiver Date" (input)="onChangeDate($event)">

      </div>
      </div>
      <div class="col">
        <label for="exampleInput">Receiver Date</label><br />
        {{inputDate | date: 'longDate'}}
      </div>


  </div>
  <div class="row">
    <div class="form-group col">

    <div class="form-group">
<label for="exampleInput">Receiver Amount</label>

<input type="text" class="form-control" id="exampleInput" placeholder="Receiver Amount" (input)="onChangeAmount($event)">

    </div>
    </div>
    <div class="col">
      <label for="exampleInput">Receiver Amount</label><br />
      {{inputAmount | currency : 'JPY' : 'symbol' : '2.2-3'}}
    </div>


</div>

 <div class="row">
    <div class="form-group col">

    <div class="form-group">
<label for="exampleInput">Receiver Height</label>

<input type="text" class="form-control" id="exampleInput" placeholder="Receiver Amount" (input)="onChangeHeight($event)">

    </div>
    </div>
    <div class="col">
      <label for="exampleInput">Receiver Height</label><br />
      {{inputHeight | number : '3.2-3'}}
    </div>


</div>

<div class="row">
  <div class="form-group col">

  <div class="form-group">
<label for="exampleInput">Receiver Mile</label>

<input type="text" class="form-control" id="exampleInput" placeholder="Receiver Amount" (input)="onChangeMile($event)">

  </div>
  </div>
  <div class="col">
    <label for="exampleInput">cm</label><br />
    {{inputMile | convert : 'cm'}}
  </div>


</div>
<!-- {{car | json}} -->
</div>




